<?xml version="1.0"?>
<launch>
    <!--- Run Jackal Gazebo -->  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="world_name" default="$(find jackal_elevator)/worlds/modified_elevator.world" />
    <arg name="front_laser" default="true" />
    <arg name="scan_topic" default="front/scan" />
    <arg name="config" default="gmapping" />

    <include file="$(find jackal_elevator)/launch/jackal_repos_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="front_laser" value="$(arg front_laser)" />.0
        <arg name="x_pos" value="0.0"/>
        <arg name="y_pos" value="0.0"/>
        <arg name="z_pos" value="3.2"/> <!--to change when mapping different level (level 0: 0.5, level 1: 3.2s)-->
    </include>

    <include file="$(find jackal_navigation)/launch/gmapping_demo.launch">
        <arg name="scan_topic" default="$(arg scan_topic)"/>
    </include>

    <include file="$(find jackal_viz)/launch/view_robot.launch">
        <arg name="config" default="$(arg config)"/>
    </include>
</launch>