<?xml version="1.0"?>
<launch>

    <!--- Run Jackal Gazebo -->  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="world_name" default="$(find jackal_elevator)/worlds/modified_elevator.world" />
    <arg name="map_file0" default="$(find multi_floor_nav)/maps/map_level0.yaml"/>
    <arg name="map_file1" default="$(find multi_floor_nav)/maps/map_level1.yaml"/>
    
    <arg name="config" default="navigation" />
    <arg name="front_laser" default="true" />
    <arg name="scan_topic" default="front/scan" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find jackal_elevator)/launch/jackal_repos_world.launch">
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="front_laser" value="$(arg front_laser)" />
    </include>

    <!-- Run the map server -->
    <!-- Load level 0 map -->
    <node name="map_server0" pkg="map_server" type="map_server" args="$(arg map_file0)">
        <remap from="map" to="map_level_0"/>
    </node>
    <!-- Load level 1 map -->
    <node name="map_server1" pkg="map_server" type="map_server" args="$(arg map_file1)">
        <remap from="map" to="map_level_1"/>
    </node>

    <!--- Run AMCL -->
    <node pkg="amcl" type="amcl" name="amcl">
        <remap from="scan" to="$(arg scan_topic)"/>
        <rosparam file="$(find multi_floor_nav)/configs/amcl.yaml" command="load"/>
    </node>

    <!--- Run Move Base -->
    <include file="$(find jackal_navigation)/launch/include/move_base.launch" />

    <!--- Run Jackal RViz -->  
    <include file="$(find jackal_viz)/launch/view_robot.launch">
        <arg name="config" value="$(arg config)"/>    
    </include>

    <!-- Run Change Map Node -->
    <node pkg="multi_floor_nav" type="change_map_node" name="change_map_node"/>

    <!-- Run Multi Floor Navigation Node -->
    <node pkg="multi_floor_nav" type="multi_floor_navigation_node" name="multi_floor_navigation_node" output="screen"/>

    </launch>